0 20 * * 3 export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/src/backend/pipeline/process_papers.py -L INFO -n $(cat /etc/afp_num_papers_per_run | sed 's/\n//g') -p $(cat /etc/afp_email_passwd | sed 's/\n//g') -N $(cat /etc/afp_db_name | sed 's/\n//g') -U $(cat /etc/afp_db_user | sed 's/\n//g') -P \"$(cat /etc/afp_db_passwd | sed 's/\n//g')\" -H $(cat /etc/afp_db_host | sed 's/\n//g') -a $(cat /etc/afp_admins | sed 's/\n//g') -t $(cat /etc/afp_tpc_token | sed 's/\n//g') -u $(cat /etc/afp_base_url | sed 's/\n//g') -w $(cat /etc/afp_tazendra_user | sed 's/\n//g') -z $(cat /etc/afp_tazendra_passwd | sed 's/\n//g') >> /var/log/afp_pipeline 2>&1
0 19 * * 4 export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/src/backend/pipeline/submissions_datatype_digests.py -L INFO -p $(cat /etc/afp_email_passwd | sed 's/\n//g') -N $(cat /etc/afp_db_name | sed 's/\n//g') -U $(cat /etc/afp_db_user | sed 's/\n//g') -P \"$(cat /etc/afp_db_passwd | sed 's/\n//g')\" -H $(cat /etc/afp_db_host | sed 's/\n//g') -w $(cat /etc/afp_tazendra_user | sed 's/\n//g') -z $(cat /etc/afp_tazendra_passwd | sed 's/\n//g') >> /var/log/afp_monthly_digest.log 2>&1
0 20 19 * * export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/src/backend/pipeline/reminder_email.py -L INFO -p $(cat /etc/afp_email_passwd | sed 's/\n//g') -N $(cat /etc/afp_db_name | sed 's/\n//g') -U $(cat /etc/afp_db_user | sed 's/\n//g') -P \"$(cat /etc/afp_db_passwd | sed 's/\n//g')\" -H $(cat /etc/afp_db_host | sed 's/\n//g') -u $(cat /etc/afp_base_url | sed 's/\n//g') >> /var/log/afp_reminder_email.log 2>&1
