emails:
  from_address: "Wormbase ACKnowledge<no-reply.acknowledge@wormbase.org>"
  reply_to_address: "Wormbase ACKnowledge<help.acknowledge@wormbase.org>"
  email_user: "outreach@wormbase.org"
  server_host: "smtp.gmail.com"
  server_port: 465

  subject_to_author: "Help Wormbase curate your paper"
  content_to_author: "Dear Author,<br/>
                      Congratulations on your recent publication!<br/>
                      <br/>
                      \"{}\", {}. WBPaper{}<br/>
                      <br/>
                      <a href='https://wormbase.org'>WormBase</a> is contacting you for help in alerting our biocurators to data that need to be extracted<br/>
                      from your paper and entered into our database.<br/>
                      <br/>
                      This process is part of our <a href='https://wormbase.github.io/ACKnowledge/'>ACKnowledge</a> community curation project funded by the <a href='https://www.nlm.nih.gov/'>National Library of Medicine</a>.<br/>
                      <br/>
                      If you would like to flag* your paper for detailed curation, please click <a href={}>here</a>.<br/>
                      <br/>
                      *Flagging your paper involves validating automatically extracted entities and identifying the types of data present.<br/>
                      <br/>
                      Please feel free to forward the link to a co-author if you are unable to complete the form at this time.<br/>
                      <br/>
                      You can view all your papers already in the ACKnowledge system on the 
                      <a href=https://acp.acknowledge.textpressolab.com>Author Curation Portal</a>.<br/>
                      <br/>
                      In addition, WormBase has launched microPublication Biology, a peer-reviewed journal<br/>
                      that publishes citable, single experimental results, such as those often omitted from standard<br/>
                      journal articles due to space constraints or confirmatory or negative results. If you have such<br/>
                      unpublished data generated during this study, we encourage you to submit it
                      <a href=https://www.micropublication.org/submit-new-article/>here</a>.<br/>
                      <br/>
                      This form has been submitted also to your coauthors, for which we have an email: {}. We recommend that you coordinate with them on who will fill out the form.<br/>
                      <br/>
                      Please contact <a href='mailto:help.acknowledge@wormbase.org'>help.acknowledge@wormbase.org</a> or
                      <a href='mailto:contact@micropublication.org'>contact@micropublication.org</a> if you would like more<br/>
                      information about flagging your paper for curation or Micropublication.<br/>
                      Please accept our congratulations on your publication!<br/>
                      <br/>
                      Best Wishes,<br/>
                      WormBase<br/>
                      <br/>
                      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
                      The ACKnowledge project is supported by grant RO1 OD023041 from the National Library of Medicine at the US National Institutes of Health.<br/>"

  subject_empty: "Paper processed by ACKnowledge has empty entity lists: WBPaper{}"
  content_empty: "The paper:<br/>
                  <br/>
                  \"{}\", {}. WBPaper{}<br/>
                  <br/>
                  has empty entity lists.<br/>
                  <br/>
                  This is the <a href={}>link</a> to the form for the paper.<br/>
                  <br/>"

  subject_summary: "New papers processed by the ACKnowledge Pipeline"
  content_summary: "New papers processed by the ACKnowledge Pipeline:<br/>
                    <br/>
                    {}<br/>
                    <br/>"

  subject_new_sub: "New ACKnowledge data submitted by author"
  content_new_sub: "New ACKnowledge data submission completed by author for the following paper:<br/>
                    <br/>
                    Paper ID: {}<br/>
                    Title: {}<br/>
                    Journal: {}<br/>
                    Author email: {}<br/>
                    <br/>
                    <a href={}>ACKnowledge admin dashboard</a><br/>
                    <a href={}>ACKnowledge form for authors</a><br/>
                    <br/>"

  subject_digest_alert: "New positive papers flagged by author through ACKnowledge for {}"
  content_digest_alert: "New papers flagged 'positive' during the last week for data type {}: <br/><br><br/>
                         {}<br/>"

  subject_author_dash: "ACKnowledge - access link to author page"
  content_author_dash: "Click here to retrieve the list of your papers processed by ACKnowledge: <br/><br/><br/>
                        <br/>
                        <a href='https://acp.acknowledge.textpressolab.com?token={}'>https://acp.acknowledge.textpressolab.com?token={}</a><br/>
                        "

  subject_reminder: "Help Wormbase curate your paper"
  content_reminder: "Dear Author,<br/>
                     <br/>
                     We recently sent an email asking for your help in flagging entities and data types for WormBase curation for the<br/>
                      paper:<br/>
                     <br/>
                     \"{}\", {}. WBPaper{}<br/>
                     <br/>
                     We would like to remind you that it is still possible to submit your response by visiting the
                     <a href={}>ACKnowledge Curation Form for your paper</a>.<br/>
                     <br/>
                     If you have started on the form, but not finished, you may resume your submission to complete the process.<br/>
                     <br/>
                     You can view all your papers already in the ACKnowledge system on the <a href=https://acp.acknowledge.textpressolab.com>Author Curation Portal</a>.<br/>
                     <br/>
                     This form has been submitted also to your coauthors, for which we have an email: {}. We recommend that you coordinate with them on who will fill out the form.<br/>
                     <br/>
                     If you have questions about completing the form, please feel free to reply to this email and we will be happy to assist<br/>
                     you. {}<br/>
                     <br/>
                     Thank you for helping WormBase!<br/>
                     <br/>
                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
                     The ACKnowledge project is supported by grant RO1 OD023041 from the National Library of Medicine at the US National Institutes of Health.<br/>
                     "

  subject_new_sub_thanks: "Thank you for submitting your data to WormBase"
  content_new_sub_thanks: "Thank you for your participation in the Author Curation to Knowledgebase (ACKnowledge) project.<br/>
                           <br/>
                           We have received your data submission for the following publication:<br/>
                           <br/>
                           {}<br/>
                           WBPaperID: {}<br/>
                           <br/>
                           Your coauthors associated with this paper have been notified of your submission.<br/>
                           <br/>
                           We appreciate your time and effort.<br/>
                           The ACKnowledge Team
                           <br/>
                           <br/>
                           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
                           The ACKnowledge project is supported by grant RO1 OD023041 from the National Library of Medicine at the US National Institutes of Health.<br/>
                           "

  subject_coauthor_notification: "Your coauthor has submitted data to WormBase"
  content_coauthor_notification: "Dear Coauthor,<br/>
                                  <br/>
                                  We would like to inform you that your coauthor ({}) has completed the data submission for the following publication:<br/>
                                  <br/>
                                  {}<br/>
                                  WBPaperID: {}<br/>
                                  <br/>
                                  The submission has been received and will be processed by our curators.<br/>
                                  <br/>
                                  You can view all your papers already in the ACKnowledge system on the <a href='https://acp.acknowledge.textpressolab.com'>Author Curation Portal</a>.<br/>
                                  <br/>
                                  Thank you for your contribution to WormBase!<br/>
                                  The ACKnowledge Team
                                  <br/>
                                  <br/>
                                  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br/>
                                  The ACKnowledge project is supported by grant RO1 OD023041 from the National Library of Medicine at the US National Institutes of Health.<br/>
                                  "

  subject_partial_submissions: "ACKnowledge Monthly Partial Submissions Report - {}"
  content_partial_submissions: "<h2>ACKnowledge Partial Submissions Report - {}</h2>
                                <p>Papers with incomplete submissions (started but not finished) since {}.</p>
                                <br/>
                                <table border='1' cellpadding='5' cellspacing='0' style='border-collapse: collapse; width: 100%;'>
                                    <thead>
                                        <tr style='background-color: #e8e8e8;'>
                                            <th style='padding: 10px;'>Paper ID</th>
                                            <th style='padding: 10px;'>Dashboard Link</th>
                                            <th style='padding: 10px;'>Form Link</th>
                                            <th style='padding: 10px;'>Widgets Completed</th>
                                            <th style='padding: 10px;'>Widget Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {}
                                    </tbody>
                                </table>
                                <br/>
                                <p><b>Total partial submissions: {}</b></p>
                                <br/>
                                <p style='font-size: 0.9em; color: #666;'>
                                ✓ = Widget completed<br/>
                                ○ = Widget not completed<br/>
                                <br/>
                                This report includes all papers with partial data entry since the specified date.
                                </p>"

  partial_submissions_recipients:
    - "daniela@wormbase.org"
    - "vanauken@caltech.edu"

ntt_extraction:
  min_occurrences:
    gene: 1
    strain: 1
    allele: 1
    transgene: 1
    species: 10

  min_tfidf:
    gene: 10
    strain: 0
    allele: 5
    transgene: 0
    species: 0

  exclusion_list:
    #gene: ['act-1', 'cdc-42', 'dpy-7', 'eri-1', 'fem-1', 'ges-1', 'glp-4', 'him-5', 'hsp-16.2', 'lin-15B',
    #       'lin-35', 'lon-2', 'myo-2', 'myo-3', 'pha-1', 'pes-10', 'pie-1', 'rol-6', 'rrf-3', 'spe-11', 'sur-5',
    #       'tbb-2', 'unc-22', 'unc-54', 'unc-119', 'cbr-unc-119']
    gene: ['M3', 'M4', 'run']
    strain: ['M9', 'OH']
    allele: []
    transgene: []
    species: ["4853", "30023", "8805", "216498", "1420681", "10231", "156766", "80388", "101142", "31138",
              "88086", "34245", "5482"]

  inclusion_list:
    species: ["6239"]
