.header-row {
    background-color: #ffffff;
}

.wrap-button {
    white-space: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100%;
}

#devBanner {
    width:100%;
    overflow:hidden; /* contain floats */
    background-color: orangered;
    color: white;
    text-align: center;
}

#whiteBanner {
    height: 20px;
}

#lateralMenu {
    height: 100vh;
    background-color: royalblue;
    color: white;
}

.main-page {
    height: 100vh;
    max-height: 900px;
    overflow-y: scroll;
}

.aw:link {
    color: white;
}

/* visited link */
.aw:visited {
    color: white;
}

/* mouse over link */
.aw:hover {
    color: white;
}

/* selected link */
.aw:active {
    color: white;
}

.entityNav {
    height:110px;
    border: solid lightgray;
    overflow:hidden;
    overflow-y:scroll;
}


